body {
  margin: 0px;
  padding: 0px;
  background-color: antiquewhite;
}
.container {
  font-family: "Baloo Bhaijaan 2", cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btn
{
  border-radius: 15px;
}
.btn:hover
{
  font-weight: bold;
  background-color: grey;
  color: white;
}