p {
  margin: 50px;
  font-family: "Recursive", sans-serif;
  font-size: 40px;
}
.container {
  display: flex;
  justify-content: space-around;
}
h1
{
  margin: auto;
  align-items: center;
}
img {
  height: 260px;
}

p {
  font-size: 2rem;
}
#para {
  padding-left: 230px;
}
.mid-container img {
  padding-left: 200px;
}
.mid-container1 img {
  padding-right: 200px;
}
.cont {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
.btn1 {
  font-size: 17px;
}
.btn2 {
  font-size: 17px;
}
body {
  background-color: antiquewhite;
}

footer {
  text-align: center;
  font-family: "Baloo Bhaijaan 2", cursive;
  padding-top: 100px;
}
