body
{
  margin: 0px;
  padding-right: 0px;
  background-color: antiquewhite;
}
td,th
{
  border: 1px solid black;
  text-align: left;
  padding: 15px;
}
p {
  margin: 50px;
  font-family: "Recursive", sans-serif;
  font-size: 40px;
}
.container {
  display: flex;
  justify-content:space-evenly;
  padding-right: 140px;
}
.heading
{
  display:flex;
  justify-content: center;
}
img {
  height: 260px;
}
p {
  font-size: 2rem;
}
.cont {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
.btn1 {
  font-size: 17px;
  cursor: pointer;
  border-radius: 15px;
}
.btn2 {
  font-size: 17px;
  cursor: pointer;
  border-radius: 15px;
}
.btn1:hover
{
  background-color: black;
  color: white;
  font-weight: bold;
}
.btn2:hover
{
  background-color: black;
  color: white;
  font-weight: bold;
}
footer {
  text-align: center;
  font-family: "Baloo Bhaijaan 2", cursive;
  padding-top: 100px;
}
